#myDiv {
    width: 300px;
    height: 100%;
}

.headingDiv {
color: #333333;
font-family: Impact, Charcoal, sans-serif;
text-decoration:none;
font-size: 13pt;
font-weight: normal;
}
.gameDiv{
color: #333333;
font-family: Century Gothic, sans-serif;
text-decoration:none;
font-size: 11pt;
font-weight: normal;
}

a {
color: #000 ;
text-decoration: none
}
.searchDiv {
  display: inline-block;
  width: 16px;
  height: 16px;
  position: relative;
  top: 6px;

  background-color: black;  /* Replace with your own image */
}
